.refresh-data {
display: inline-block;
}
.button-refresh {
  text-decoration:none;
  text-align:center;
  padding:14px 38px;
  border:solid 1px #004F72;
  border-radius: 15px;
  font:15px Arial, Helvetica, sans-serif;
  font-weight:bold;
  color:#E5FFFF;
  background-color:#3BA4C7;
  margin-left: 20px;
}
.button-refresh:hover {
  padding:14px 38px;
  border:solid 1px #004F72;
  border-radius: 15px;
  font:15px Arial, Helvetica, sans-serif;
  font-weight:bold;
  color:#E5FFFF;
  background-color:#49c2eb;
}
.button-refresh:focus {
    outline: none;
}

@media screen and (max-width: 470px) {
  .refresh-data {
    margin-left: 90px;
  }
  .button-refresh {
    padding:9px 28px;
    margin-left: 0;
  }
}
